.coupon-tooltip-enter {
    opacity: 0;
    transform: translateY(-10px);
}

.coupon-tooltip-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 300ms;
}

.coupon-tooltip-exit {
    opacity: 1;
    transform: translateY(0);
}

.coupon-tooltip-exit-active {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 300ms, transform 300ms;
}